{% extends 'registration/register_base.html' %}

{% load i18n %}

{% block title %}<h1 align="center">{% trans "Log in" %}</h1>{% endblock %}

{% block body %}
    <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 loginbox">
    <div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title">Log In</div>
    </div>
    <div style="padding-top: 30px" class="panel-body">
    <div style="display: none" id="login-alert" class="alert alert-danger col-sm-12"></div>
    <form method="post" action="." class="form-horizontal" role="form">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="input-group">
            <div class="checkbox">
                <label>
                    <input id="login-remember" type="checkbox" name="remember" value="1">Remember me
                </label>
            </div>
        </div>
        <input type="submit" value="{% trans 'Log in' %}" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

    <p><h4>{% trans "Forgot your password?" %} <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>.</h4></p>
    <p><h4>{% trans "Not a member?" %} <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>.</h4></p>
    </div>
    </div>
    </div>
{% endblock %}
