{% extends 'registration/register_base.html' %}
{% load i18n %}
{% block title %}
    <h1 align="center">Register on Spark Store</h1>
{% endblock %}
{% block body %}
    <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 loginbox">
    <div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title">Create a Spark Store account</div>
    </div>
    <div class="panel-body">
    <form class="form-horizontal"method="POST" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Submit' %}" />
    </form>
    </div>
    </div>
    </div>
{% endblock %}
