{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
    <h1>HELLO!!</h1>
    <div class="col-md-8 col-sm-offset-2 col-sm-12 maincontent">
    <div class="detail_book_display">
        <img class="detail_book_img" src="{{ MEDIA_URL }}{{ book.cover_image }}">
        <span class="detail_book_title">{{ book.title }}</span>
        <span class="detail_book_author">{{ book.author.first_name }} {{ book.author.last_name }}</span>
        <div class="detail_book_author">{{ book.description }}</div>
        <div class="detail_book_reviews_title">Reviews{% if review %}({{ review.count }}){% endif %}</div>
        <div class="detail_book_reviews">
           <div class="col-md-6 col-md-offset-3" style="margin-left: auto;margin-right: auto;">
               {% if form %}
                   <h4>Have you read this book? Post a review!</h4>
                   <form clas="form-inline" action="{% url 'book_details' book.pk %}" method="POST">
                   {% csrf_token %}
                   {{  form.as_p }}
                   <input type="submit" value="Submit">
                   </form>
               {% endif %}
           {% for reviews in review %}
           <div>
               {{ reviews.text }}
           </div>
           <div style="font-weight: bold">
               -{{ reviews.user.username }} on {{ reviews.publish_date }}
           </div>
           {% empty %}
           <div style="margin-top: 20px">
               There are no reviews for this book yet!
           </div>
           {% endfor %}
           </div>
        </div>
    </div>
    </div>
{% endblock %}