{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome to Spark Store{% endblock %}</title>
</head>
<body background="{%static 'base/img/header_full.jpg' %}">
{% block content %}
{% if request.user.is_authenticated %}
<h3>Welcome, {% if request.user.first_name %}
    {{ request.user.first_name }}
    {% else %}
    {{ request.user.username }}
    {% endif %}!<a href="{% url 'auth_logout' %}">Log Out</a></h3>
{% else %}
    <h3>Welcome User. Would you like to <a href="{% url 'auth_login' %}">log in?</a></h3>
{% endif %}
WELCOME TO SPARKS BOOKSTORE!!!. There are {{ count }}  books in store. User location: {{ request.session.location }}
{% endblock %}
</body>
</html>